.row
  .movie-item.large-12.columns{id: "flagged_movie_#{flagged_movie.id}"}
    .row
      .large-2.columns
        = image_tag flagged_movie.poster_detailed_url
      .large-10.columns
        .row
          .large-8.columns.movie-title
            %h4.subheader= flagged_movie.title
          .large-2.columns.freshness
            = freshness(flagged_movie.movie)
      .large-10.columns
        %p.small= flagged_movie.movie.synopsis
    .row
      .large-4.large-offset-8.columns
        = link_to 'Remove', flagged_movie, remote: true, method: :delete, class: 'button small'
        - if !flagged_movie.watched?
          = link_to 'Mark as Watched', flagged_movie_path(id: flagged_movie.id, 'flagged_movie[state]' => 'watched'),  remote: true, method: :put, class: 'button small'
        - elsif flagged_movie.watched?
          = link_to 'Unmark as Watched', flagged_movie_path(id: flagged_movie.id, 'flagged_movie[state]' => 'wanted'),  remote: true, method: :put, class: 'button small'
